.login-wrapper {
    height: 100svh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper .login-container {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login-wrapper input {
    background-color: #f2f2f2;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    width: 100%;
}

.login-container button {
    padding: 0.5rem;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 0.2rem;
    text-align: left;
}