
header {
	display: flex;
	align-items: space-between;
	justify-content: flex-end;
	width: 100vw;
	padding: 1rem;
	position: fixed;
	top: 0;
	background-color: white;
}


.logoWrapper {
	height: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;

	left: 50%;
	transform: translateX(-50%);
}

.Navbar {
	display: flex;
}

.Navbar nav {
	display: flex;
}